.suggestion {
  align-items: center;
  color: #52188c;
  cursor: default;
  display: flex;
  height: 100%;
  width: 100%;
}

.icon {
  color: #9aa0a6;
  height: 16px;
  margin: 0 18px;
  width: 16px;
}
